<div class="card mb-4">
  <div class="card-header">
    <h5>{{ foodList.meal }}</h5>
  </div>

  <div class="card-body">
    <div class="container text-center mb-1">
      <div *ngIf="foodList.foodItems.length == 0">
        <p>No Food in the bank yet</p>
      </div>

      <div *ngIf="foodList.foodItems.length > 0">
        <div class="row align-items-start">
          <div class="col"></div>
          <div class="col"><strong>Food</strong></div>
          <div class="col"><strong>Calories</strong></div>
          <div class="col"><strong>Quantity</strong></div>
          <div class="col"><strong>Measure</strong></div>
          <div class="col"><strong>Added On</strong></div>
          <div class="col"><strong>Remove</strong></div>
        </div>
        <div *ngFor="let food of foodList.foodItems">
          <div class="row align-items-start" *ngIf="food.editable == false">
            <div class="col">
              <button
                class="btn btn-warning btn-sm"
                (click)="editFoodItem(food)"
              >
                Edit
              </button>
            </div>
            <div class="col">
              <p class="fs-5">{{ food.foodName }}</p>
            </div>
            <div class="col">
              <p class="fs-5">{{ food.calorie }}</p>
            </div>
            <div class="col">
              <p class="fs-5">{{ food.quantity }}</p>
            </div>
            <div class="col">
              <p class="fs-5">{{ food.measure }}</p>
            </div>
            <div class="col">
              <p class="fs-5">{{ food.createdOn }}</p>
            </div>
            <div class="col">
              <button
                class="btn btn-danger btn-sm"
                (click)="deleteFoodItem(food)"
              >
                x
              </button>
            </div>
          </div>
          <div class="row align-items-start" *ngIf="food.editable == true">
            <div class="col">
              <button
                class="btn btn-primary btn-sm"
                (click)="saveFoodItem(food)"
              >
                Save
              </button>
            </div>
            <div class="col form-group">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="food.foodName"
              />
            </div>
            <div class="col form-group">
              <input
                type="number"
                class="form-control"
                [(ngModel)]="food.calorie"
              />
            </div>
            <div class="col form-group">
              <input
                type="number"
                class="form-control"
                [(ngModel)]="food.quantity"
              />
            </div>
            <div class="col form-group">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="food.measure"
              />
            </div>
            <div class="col form-group">
              <input
                type="date"
                class="form-control"
                [(ngModel)]="food.createdOn"
              />
            </div>
            <div class="col form-group">
              <button
                class="btn btn-danger btn-sm"
                (click)="deleteFoodItem(food)"
              >
                x
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
