<div class="container">
  <app-header></app-header>

  <div class="row">
    <div class="col">
      <app-food-form (formEvent)="formEventHandler($event)"></app-food-form>
    </div>
    <div class="col">
      <app-user *ngFor="let user of users" [user]="user"></app-user>
    </div>
  </div>

  <div class="mb-3"></div>

  <div class="container">
    <h4>Your Food Bank for Today</h4>
  </div>
  <app-food-bank
    *ngFor="let foodList of foodLists"
    [foodList]="foodList"
  ></app-food-bank>
</div>
