<div class="card">
  <div class="card-body">
    <div>
      <h5>Goals and Information</h5>
      <p class="mb-0">Calories Remaining:</p>
      <p class="fs-2 text-success">
        <strong>{{ remainingCalories }}</strong>
      </p>
      <hr />
      <div class="row">
        <div class="col">
          <p class="fs-4 mb-0">{{ user.calorieGoal }}</p>
          <p class="fs-6">GOAL</p>
        </div>
        <div class="col">
          <p class="mt-3">-</p>
        </div>
        <div class="col">
          <p class="fs-4 mb-0">{{ totalFoodCalories }}</p>
          <p class="fs-6">FOOD</p>
        </div>
        <div class="col">
          <p class="mt-3">=</p>
        </div>
        <div class="col">
          <p class="fs-4 mb-0">{{ remainingCalories }}</p>
          <p class="fs-6">NET</p>
        </div>
      </div>
    </div>

    <div class="mt-3"></div>

    <div>
      <p>Current Weight and Height</p>
      <div class="row">
        <div class="col">
          <p>{{ user.weight }} {{ user.weightType }}</p>
        </div>
        <div class="col">
          <p>{{ user.height }} {{ user.heightType }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
